form
  width: 100%
  max-width: 550px
  margin: 0 auto
  background: #fff

fieldset
  display: block
  border: none
  margin: 1em
  padding: 1em

legend, label
  display: inline-block
  width: 100%
  padding: 10px
  line-height: 1.5em
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: 500

legend
  text-align: center
  font-size: 1.2em

label
  margin: 10px 0
  border-top: 1px solid #989898

.form-element
  display: block
  margin: 1em 0 4em

.form-input-inline
  display: flex
  flex-direction: row

.form-input-inline .option-item
  text-align: center;

.form-input-inline input
  margin: 0.5em

.form-input-inline .inline-title
  display: inline-block
  padding: 0.5em
  width: 50%

input, .msg, textarea
  line-height: 1.5em
  padding: 0.35em 0.5em

textarea
  height: 8em

input, textarea
  width: 100%
  margin-top: -10px
  display: block
  border: none
  background: #eee
  border-radius: 2px
  box-shadow: inset 1px 1px 1px #cacaca

::-webkit-input-placeholder
  font-size: 0.8em
  color: #999;

.msg
  text-align: right
  font-size: 0.9em
  // background: #efefef
  // box-shadow: inset 1px 1px 1px #cacaca
  // border-radius: 2px;



.option-item
  width: 100%
  float: left;
  line-height: 1em;
  margin: 0.25em

.option-item input[type='checkbox'],
.option-item input[type='radio']
  display: none
  // border: none
  // box-shadow: none
  // display: inline
  // margin-bottom: -4em
  // float: left

.option-item label
  background: #efefef
  box-shadow: 1px 1px 1px #cacaca
  border-radius: 2px
  border: 1px solid #efefef
  margin: 0
  padding: 0.5em 1em
  width: 100%
  cursor: pointer
  display: inline-block

.option-item input[type='checkbox']:checked + label,
.option-item input[type='radio']:checked + label
  background: #000;
  color: #fff
  border: 1px solid #000

.option-item input[type='checkbox']:focus + label,
.option-item input[type='radio']:focus + label
  border: 1px solid #000

.form-table
  margin: 2em 0

.form-table-label
  padding: 0
  margin: 0
  width: 100%

.drop-zone
  display: inline-block
  border: none
  width: 100%
  padding: 5em 0
  background: #efefef
  border-radius: 10px
  text-align: center
  box-shadow: inset 2px 2px 2px #cacaca
  cursor: pointer
  transition: all 0.5s ease

.drop-zone:hover
  background: #000
  color: #fff

.drop-zone-input
  display: none

.image-list
  width: 70%
  margin: 2em auto 0 auto

.image-item
  width: 100%
  box-shadow: inset 2px 2px 2px #cacaca
  border-radius: 2px
  background: #efefef
  margin: 0.5em
  padding: 0.5em

.image-upload-preview
  width: 75px

.image-filename
  width: 50%
  display: block
  border: 1px solid #000
  vertical-align: middle

.input-btn-group
  width: 100%

.input-btn-group input
  width: 70%
  display: inline-block

.input-btn-group button
  width: 20%
  display: inline-block
