  <form method="{{ method }}" action="{{ action }}">

    <span class="form-element">
      <label for="date-description">Date Description</label>
      <input type="text" name="date-description" id="date-description">
    </span>

    <span class="form-element">
      <label for="date">Specific Date</label>
      <input type="date" min="0" name="date" id="date">
    </span>

    <span class="form-element">
      <label for="itemName">Years Between</label>
      <span class="form-input-inline">
        <input type="number" min="0" name="year-between-start" id="year-between-start">
        <input type="number" min="0" name="year-between-start" id="year-between-start">
      </span>
    </span>

    <span class="form-element">
      <label for="year">Year</label>
      <input type="number" name="year" id="year">
    </span>
  </form>