{% extends "Layout.html" %}
{% block content %}

  <form method="POST" action="record-appraisal">
    <legend>Record Item Appraisal</legend>

    <span class="form-element">
      <label for="">Client</label>

      <span class="form-input-inline">
        <span class="inline-title">Existing Client</span>
        <span class="option-item">
          <input type="radio" name="existing" id="existingYes">
          <label class="side-bar-loader"
                data-loads="existing-client-selection"
                data-updates="existing-client-selected"
                for="existingYes">Yes</label>
        </span>
        <span class="option-item">
          <input type="radio" name="existing" id="existingNo">
          <label class="side-bar-loader"
                 data-loads="new-client-selection"
                 data-updates="new-client-selected"
                 for="existingNo">No</label>
        </span>
      </span>

      <div id="existing-client-selected"></div>
      <div id="new-client-selected"></div>
    </span>

    <span class="form-element search-element">
      <label for="">Expert</label>
      <a class="btn side-bar-loader"
         data-loads="expert-selection"
         data-updates="expert-selected">Select Expert</a>

      <div id="expert-selected"></div>
    </span>

    <span class="form-element">
      <label for="">Category</label>
      <a class="btn side-bar-loader"
         data-loads="category-selection"
         data-updates="category-selected">Select Category</a>

      <div id="category-selected"></div>
    </span>

    <span class="form-element">
      <label for="">Classifications</label>
      <a class="btn side-bar-loader"
         data-loads="classification-selection"
         data-updates="classification-selected">Select Classifications</a>

      <div id="classification-selected"></div>
    </span>

    <span class="form-element">
      <label for="">Date Period</label>
      <a class="btn side-bar-loader"
         data-loads="date-period-selection"
         data-updates="date-period-selected">
              Set Date Period
        </a>

      <div id="date-period-selected"></div>
    </span>

    <span class="form-element">
      <label for="">Item Dimensions</label>
      <a class="btn side-bar-loader"
         data-loads="item-dimensions"
         data-updates="item-dimensions-set">
              Set Item Dimensions
        </a>

      <div id="item-dimensions-set"></div>
    </span>

    <span class="form-element">
      <label for="">Item Weight</label>
      <a class="btn side-bar-loader"
         data-loads="item-weight"
         data-updates="item-weight-set">
              Set Item Weight
        </a>

      <div id="item-weight-set"></div>
    </span>

    <span class="form-element">
      <label for="">Item Images</label>
      <a class="btn side-bar-loader"
         data-loads="item-images"
         data-updates="item-images-set">
              Set Item Images
        </a>

      <div id="item-images-set"></div>
    </span>

    <span class="form-element">
      <label for="itemName">Item Name</label>
      <input type="text" name="itemName" id="itemName">
    </span>

    <span class="form-element">
      <label for="estimatedPrice">Estimated Price</label>
      <input type="number" min="1" v-model="estimatedPrice">
    </span>

    <span class="form-element">
      <label for="textualDescription">Textual Description</label>
      <textarea rols="40" cols="20" v-model="textualDescription">
      </textarea>
    </span>

    <span class="form-element">
      <label for="provenanceDetails">Provenance Details</label>
      <textarea rols="10" cols="30" v-model="provenanceDetails">
      </textarea>
    </span>

    <span class="form-element">
      <label for="">Authenticated</label>
      <span class="form-input-inline">
        <span class="option-item">
          <input type="radio" name="authenticated" id="authenticatedYes">
          <label for="authenticatedYes">Yes</label>
        </span>
        <span class="option-item">
          <input type="radio" name="authenticated" id="authenticatedNo">
          <label for="authenticatedNo">No</label>
        </span>
      </span>
    </span>

    <span class="form-element">
      <label for="">Agreement Signed</label>
      <span class="form-input-inline">
        <span class="option-item">
          <input type="radio" name="agreement" id="agreedYes">
          <label for="agreedYes">Yes</label>
        </span>
        <span class="option-item">
          <input type="radio" name="agreement" id="agreedNo">
          <label for="agreedNo">No</label>
        </span>
      </span>
    </span>

    <span class="form-element">
      <label for="additionalNotes">Additional Notes</label>
      <textarea rols="40" cols="20" name="additionalNotes" id="additionalNotes">
      </textarea>
    </span>

    <button id="submit" class="btn">Submit</button>

  </form>

{% endblock %}
