<form method="{{ method }}" action="{{ action }}">

  <fieldset>
    <legend>Item Image Upload</legend>

    <span class="form-element">
      <input class="drop-zone-input" type="file" name="image-input" id="image-input" multiple>
      <label class="drop-zone" for="image-input">
        DROP IMAGE[S] or FOLDER HERE
      </label>
    </span>
  </fieldset>

  <fieldset>
    <legend>Image List</legend>
    <div id="image-list">



    </div>
  </fieldset>

<!--     <img src="" alt="{{ image.alt }}">
    <span class="input-btn-group">
      <input type="hidden" name="image-id" id="image-id" value="">
      <input type="text" value="{{ image.name }}">
      <button class="btn">Remove</button>
    </span> -->
</form>